.block-views__title {
  position: relative;
  text-align: center;
  margin-bottom: 1.6rem;
}

.block-views__title h2 {
  background-color: white;
  color: black;
  display: inline-block;
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 600;
  margin: 0;
  text-align: center;
  padding: 0 1rem;
  position: relative;
  z-index: 1;
}

.block-views__title::after {
  border-bottom: 1px solid #c49b5f;
  content: ' ';
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  top: 8.5px;
  z-index: 0;
}
